# Игнорировать ВО ВСЕХ подпапках:

## Скомпилированные файлы
**/bin/
**/obj/

## Настройки Visual Studio
**/.vs/
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates

## Пакеты NuGet
**/packages/

## Выходные файлы
**/*.exe
**/*.dll
**/*.pdb
**/*.cache

## Резервные копии
**/*.bak
**/*.tmp
**/*.log

## Базы данных и временные файлы
**/*.mdf
**/*.ldf
**/*.sdf